[loggers]
keys=root,infoLogger,errorLogger

[handlers]
keys=consoleHandler,fileHandler

[formatters]
keys=infoFmt,consoleFmt

###########################################
[logger_root]
level=WARNING
handlers=consoleHandler

[logger_infoLogger]
level=WARNING
handlers=consoleHandler
propagate=0
qualname=infoLogger

[logger_errorLogger]
handlers=fileHandler
propagate=0
qualname=errorLogger

###########################################
[handler_consoleHandler]
class=StreamHandler
formatter=consoleFmt
args=(sys.stdout,)

[handler_fileHandler]
class=utilPackage.utilLog.classLogMgr.SafeFileHandler
formatter=infoFmt
args=('/Volumes/work/4.git/googleApi/log/error.log',  "a", 256*1024*1024, 5)

###########################################
[formatter_infoFmt]
format=%(asctime)s %(process)s %(levelname)s %(lineno)d %(funcName)s %(message)s
datefmt=
class=logging.Formatter

[formatter_consoleFmt]
format=%(asctime)s %(process)s %(levelname)s %(lineno)d %(funcName)s %(message)s
datefmt=
class=logging.Formatter